<!-- HEADER -->

<div class="ng-container">
  <div class="jumbotron">
    <h1>STAR TREK</h1>
  </div>
</div>

<!-- END HEADER -->

<!-- MATERIAL TABLE -->

<div class="example-container mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" id="trek-table">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row" [matTooltip]="row.name + ': ' + row.species"
        [matTooltipShowDelay]="showDelay.value" [matTooltipHideDelay]="hideDelay.value"> {{row.id}}
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="home">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Home </mat-header-cell>
      <mat-cell *matCellDef="let row" [matTooltip]="row.name + ': ' + row.species"
      [matTooltipShowDelay]="showDelay.value" [matTooltipHideDelay]="hideDelay.value"> {{row.home}}
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let row" [matTooltip]="row.name + ': ' + row.species"
      [matTooltipShowDelay]="showDelay.value" [matTooltipHideDelay]="hideDelay.value"> {{row.name}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="species">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Species </mat-header-cell>
      <mat-cell *matCellDef="let row" [matTooltip]="row.name + ': ' + row.species"
      [matTooltipShowDelay]="showDelay.value" [matTooltipHideDelay]="hideDelay.value"> {{row.species}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row matRipple (click)="editRow(row.uuid)" *matRowDef="let row; columns: displayedColumns;" class="mat-row"></mat-row>
  </mat-table>

  <mat-paginator #dataPaginator [pageSizeOptions]="[20, 40, 60]"></mat-paginator>
</div>
<!-- Route to new Useer Module -->

<div>
  <button routerLink="new" routerLinkActive="active" class="button mat-app-background"><h2>Create New Table Entry</h2></button>
</div>

<!-- END MATERIAL TABLE -->