/* You can add global styles to this file, and also import other style files */

@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media (max-width:1600px){
    .au-input-xl{
        min-width:290px
    }
}
@media (max-width:1315px) and (min-width:992px){
    .header-desktop3 .section-content{
        padding:0 15px
    }
}
@media (max-width:1570px) and (min-width:992px){
    .header-navbar ul li a{
        padding:25px 15px
    }
}
@media (max-width:1315px) and (min-width:992px){
    .header-navbar ul li a{
        font-size:13px;
        padding:27px 15px
    }
    .header-navbar ul li a i{
        margin-right:5px
    }
}

@media (min-width:1200px){
    .container{
        max-width:1320px
    }
}

@media (min-width:992px) and (max-width:1199px){
 
    .header-mobile .header-mobile-bar{
        padding:10px 0;
        background:#fff
    }
    .header-wrap .account-item>.content{
        display:none
    }
}


@media (max-width:991px){
     .section-content-p30{
        padding:0
    }
    .page-container{
        position:relative;
        top:88px;
        padding-left:0
    }
     .page-wrapper{
        background:#e5e5e5;
        padding-bottom:12vh
    }
     .main-content{
        padding-top:50px;
        padding-bottom:100px
    }
    
    .form-header{
        -webkit-box-pack:center;
        -webkit-justify-content:center;
        -moz-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center
    }
     .au-input-xl{
        min-width:350px
    }
     
    .header-desktop{
        position:relative;
        top:0;
        left:0;
        height:80px
    }
    .header-wrap{
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -webkit-flex-direction:column;
        -moz-box-orient:vertical;
        -moz-box-direction:normal;
        -ms-flex-direction:column;
        flex-direction:column
    }
    .header-button{
        margin-top:30px;
        width:100%;
        -webkit-box-pack:justify;
        -webkit-justify-content:space-between;
        -moz-box-pack:justify;
        -ms-flex-pack:justify;
        justify-content:space-between
    }
  
     .header-desktop2{
        left:0;
        position:relative
    }
     .header-desktop4{
        position:static
    }
     .section-content.section-content-p30.e-spc{
        padding-top:100px
    }
    header.header-desktop.extra{
        top:93px!important
    }
 
        .header-wrap2{
        -webkit-box-pack:justify;
        -webkit-justify-content:space-between;
        -moz-box-pack:justify;
        -ms-flex-pack:justify;
        justify-content:space-between
    }
}


@media (max-width:767px){
      .au-input-xl{
        min-width:150px
    }
    .header-button-item{
        font-size:22px;
        margin-right:15px
    }
        .main-content.page-m{
        padding:10% 0!important
    }
    .header-mobile .navbar-mobile{
        display:none;
        position:absolute;
        width:100%;
        top:66px;
        z-index:20
    }
    .section-content.section-content-p30.e-spc{
        padding-top:100px
    }
    header.header-desktop.extra{
        top:64px!important
    }
    .header-desktop{
        position:relative;
        top:0;
        left:0;
        height:80px
    }
  
    .product-box{
        text-align:centerg
    }
    .page-container{
        position:relative;
        top:66px;
        padding-left:0
    }
    .au-btn-submit{
        position:relative;
        right:10px;
        min-width:85px;
        color:#fff;
        border:1px solid #205b8d;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        border-radius:0;
        background:#205b8d
    }
    input.au-input.au-input-xl{
        border-radius:0!important;
        margin-right:0
    }
    .total span{
        display:inline-block;
        background:#fff;
        padding:0 10px;
        color:#000;
        border-top-right-radius:20px;
        border-bottom-right-radius:20px;
        margin-left:6px
    }
    .total{
        background:#205b8d;
        line-height:30px;
        color:#fff;
        border-radius:30px;
        border:1px solid #205b8d;
        float:left;
        margin-top:9px;
        padding-left:12px
    }
    .header-mobile .header-mobile-bar{
        padding:6px 0;
        background:#fff;
        border:0;
        padding:8px 0
    }
}
